<div class="row" style="padding: none; margin: 0;">
  <header class="col s12 m6 rsvp_bg">

  </header>
  <div class="col s12 m6">
    <div class="container">
      <h1>RSVP</h1>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
