<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../../assets/photo-02.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../../assets/photo-3.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../../assets/photo-4.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../../assets/photo-5.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../../assets/photo-6.jpg"></a>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
     $('.carousel').carousel();
   });
</script>

<div style="padding-bottom: 200px;">Hello World</div>
