<div class="container">
  <div class="row paddingTop-8">
    <div class="col s12">
      <h1 class="center-align">Our Registry</h1>
      <p class="center-align">We are registered in these two stores. Click on any of them to redirect your to our registry.</p>
    </div>
    <div class="col s12 paddingTop-8">
      <div class="col s6 macys">
        <div class="registryLogos col s8 center-block">
          <a href="https://www.macys.com/wgl/registry/guest/6766131"><img class="responsive-img" src="../../assets/macys.png" alt="Macy's"></a>
        </div>
      </div>
      <div class="col s6 jcp">
        <div class=" registryLogos col s8 center-block">
          <a href="https://registry.jcpenney.com/viewRegistry?regId=99154850"><img class="responsive-img" src="../../assets/jcp.png" alt="JCPenny"></a>
        </div>
      </div>
    </div>
  </div>
</div>
