<div class="container">
  <div class="row paddingTop-8">
    <div class="col s12">
      <h1 class="center-align">Our Registry</h1>
      <p class="center-align">We are registered in these two stores. Click on any of them to redirect your to our registry.</p>
    </div>
    <div class="col s12 paddingTop-8">
      <div class="col s6 macys">
        <div class="col s8 center-block">
          <img class="responsive-img" src="../../assets/macys.png" alt="Macy's">
        </div>
      </div>
      <div class="col s6 jcp">
        <div class="col s8 center-block">
          <img class="responsive-img" src="../../assets/jcp.png" alt="JCPenny">
        </div>
      </div>
    </div>
  </div>
</div>
