/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "modules/all";


.tabs-content.carousel .carousel-item { height: 100%; }
body{
  font-family: 'Lato', sans-serif;
}
p,a{
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
}

nav{
  background: transparent;
  ul.nav-links a{
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 100;
  }
}
nav.not_root_path_nav{
  background: $primary-color;
}
.center-block{
  float: none !important;
  margin: 0 auto !important;
}

.paddingTop-8{
  padding-top: 8% !important;
}

.paddingTop-3{
  padding-top: 3% !important;
}

#notice-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1050;
  background: $primary-color;
  p{
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
  }
}
